.formulario{

    border: solid blue 1px;
}
.conversion{
    background: lightskyblue;
}
td{
    color: blue;
}
.td1{

    color: black;
}
.piedepagina{

    text-align: center;
    padding-top: 20px;
}