.row{

    
}
.col-6{



}

.col-9{

   
}
.col-3{


}

.slider{

 
   
   height: 900px;
    
     
}
h5{

    background:yellowgreen;
}
.imagen{
    
    height: 900px;
    
    
}
.titulo{

    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    color:darkslateblue;
}
.piedepagina{

    text-align: center;
    padding-top: 20px;
}
