
    <nav>

        <ul class="nav nav-tabs ">
            <li class="nav-item">
                <a class="nav-link active"[routerLink]="['portal']">Portal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['traductor']">Traductor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['coti']">finanzas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['covid']" tabindex="-1" aria-disabled="true">Covid-19</a>
            </li>
        </ul>

    </nav>
